form{
    text-align: center;
}
button{
    padding: 6px;
    border-width: 5px;
    border-radius: 10px;
    border-style:ridge;
    border-color:olivedrab;
    background-color:silver;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
}
h2{
    text-align: center;
}
input{
    width: 400px;
    height: 30px;
    border-radius: 07px;
    border-width: 3px;
    border-style: groove;
    border-color: black;
}